* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #101010;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #72a6eb;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    background:#303030;
    padding: 200px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #101010;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #72a6eb;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #72a6eb;
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 25px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: #72a6eb;
}

.btn-5 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72a6eb;
    text-decoration: none;
    background: #101010;
}
.btn-22 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72a6eb;
    text-decoration: none;
    background: #101010;
}

.btn-23 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}

.btn-24 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}

.btn-25 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}

@media(max-width:2000px){
}
body {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #101010;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #72aeb7;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    background:#303030;
    padding: 170px 200px;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #101010;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #72aeb7;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #72aeb7;
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 25px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: #72aeb7;
}

.btn-5 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}
.btn-22 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}

.btn-23 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}

.btn-24 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}

.btn-25 {
    font-size: 25px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #303030;
    color: #72aeb7;
    text-decoration: none;
    background: #101010;
}


